<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitchening</title>
    <!-- css boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <!-- css swipper -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <!-- css custom -->
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/3f21023fe6.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap" rel="stylesheet">
</head>

<body class="home">
    <header class="home__header">
        <div class="home__header--box-logo">
            <img class="home__header--logo" src="/img/logo.jpg" alt="logo_kitchening">
        </div>
        <a href="" class="home__header--bars"><i class="fa fa-bars fa-lg"></i></a>
        <nav class="home__header__nav--menu">
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/quienes">quienes</a></li>
                <li><a href="/servicios">servicios</a></li>
                <li><a href="/porfolio">porfolio</a></li>
                <li><a href="/sucursales">sucursales</a></li>
                <li><a href="/contacto">contacto</a></li>
            </ul>
        </nav>
    </header>
    <main class="home__main">
        <div class="home__main__section--banner">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="/img/banner/image1.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="/img/banner/image2.jpeg" alt=""></div>
                    <div class="swiper-slide"><img src="/img/banner/image3.jpeg" alt=""></div>
                    <div class="swiper-slide"><img src="/img/banner/image5.webp" alt=""></div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <div class="home__main__section--products">
            <article class="home__main__section__article">
                <div class="home__main__section__article--box">
                    <img class="home__main__section__article--image" src="/img/img-pdto-1.jpg" alt="producto1">
                    <img class="home__main__section__article--sticker" src="/img/img-nuevo.png" alt="nuevo">
                    <a class="home__main__section__article--zoom" href="">AMPLIAR FOTO</a>
                </div>
                <h4 class="home__main__section__article--title">Lorem, ipsum dolor.</h4>
                <p class="home__main__section__article--description">Lorem ipsum, dolor sit amet consectetur adipisicing
                    elit. Sunt, amet quas distinctio velit dolorem inventore dolor.</p>
                <a class="home__main__section__article--more" href="/detalle-producto">ver más</a>
            </article>
            <article class="home__main__section__article">
                <div class="home__main__section__article--box">
                    <img class="home__main__section__article--image" src="/img/img-pdto-2.jpg" alt="producto2">
                    <img class="home__main__section__article--sticker" src="/img/img-gratis.png" alt="gratis">
                    <a class="home__main__section__article--zoom" href="">AMPLIAR FOTO</a>
                </div>
                <h4 class="home__main__section__article--title">Lorem, ipsum dolor.</h4>
                <p class="home__main__section__article--description">Lorem ipsum, dolor sit amet consectetur adipisicing
                    elit. Sunt, amet quas distinctio velit dolorem inventore dolor.</p>
                <a class="home__main__section__article--more" href="">ver más</a>
            </article>
            <article class="home__main__section__article">
                <div class="home__main__section__article--box">
                    <img class="home__main__section__article--image" src="/img/img-pdto-3.jpg" alt="producto3">
                    <img class="home__main__section__article--sticker" src="/img/img-descuento.png" alt="descuento">
                    <a href="" class="home__main__section__article--zoom">AMPLIAR FOTO</a>
                </div>
                <h4 class="home__main__section__article--title">Lorem, ipsum dolor.</h4>
                <p class="home__main__section__article--description">Lorem ipsum, dolor sit amet consectetur adipisicing
                    elit. Sunt, amet quas distinctio velit dolorem inventore dolor.</p>
                <a class="home__main__section__article--more" href="">ver más</a>
            </article>
            <article class="home__main__section__article">
                <div class="home__main__section__article--box">
                    <img class="home__main__section__article--image" src="/img/img-pdto-1.jpg" alt="producto1">
                    <img class="home__main__section__article--sticker" src="/img/img-nuevo.png" alt="nuevo">
                    <a class="home__main__section__article--zoom" href="">AMPLIAR FOTO</a>
                </div>
                <h4 class="home__main__section__article--title">Lorem, ipsum dolor.</h4>
                <p class="home__main__section__article--description">Lorem ipsum, dolor sit amet consectetur adipisicing
                    elit. Sunt, amet quas distinctio velit dolorem inventore dolor.</p>
                <a class="home__main__section__article--more" href="">ver más</a>
            </article>
            <article class="home__main__section__article">
                <div class="home__main__section__article--box">
                    <img class="home__main__section__article--image" src="/img/img-pdto-2.jpg" alt="producto2">
                    <img class="home__main__section__article--sticker" src="/img/img-gratis.png" alt="gratis">
                    <a class="home__main__section__article--zoom" href="">AMPLIAR FOTO</a>
                </div>
                <h4 class="home__main__section__article--title">Lorem, ipsum dolor.</h4>
                <p class="home__main__section__article--description">Lorem ipsum, dolor sit amet consectetur adipisicing
                    elit. Sunt, amet quas distinctio velit dolorem inventore dolor.</p>
                <a class="home__main__section__article--more" href="">ver más</a>
            </article>
            <article class="home__main__section__article">
                <div class="home__main__section__article--box">
                    <img class="home__main__section__article--image" src="/img/img-pdto-3.jpg" alt="producto3">
                    <img class="home__main__section__article--sticker" src="/img/img-descuento.png" alt="descuento">
                    <a href="" class="home__main__section__article--zoom">AMPLIAR FOTO</a>
                </div>
                <h4 class="home__main__section__article--title">Lorem, ipsum dolor.</h4>
                <p class="home__main__section__article--description">Lorem ipsum, dolor sit amet consectetur adipisicing
                    elit. Sunt, amet quas distinctio velit dolorem inventore dolor.</p>
                <a class="home__main__section__article--more" href="">ver más</a>
            </article>
        </div>
        <section class="carousel_ensaladas">
            <div class="swiper mySwiper2">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="card">
                        <a href="/detalle-producto"><img class="card-img-top" src="/img/products/ensalada1.webp" alt=""></a>
                        <div class="card-body">
                            
                            <p class="card-title">Ensalada tanto...</p>
                            
                        </div>
                    </div>
                    
                
                </div>
                  <div class="swiper-slide">
                    <div class="card">
                        <a href="/detalle-producto"><img class="card-img-top" src="/img/products/ensalada2.webp" alt=""></a>
                        <div class="card-body">
                            
                            <p class="card-title">Ensalada tanto...</p>
                            
                        </div>
                    </div>
                    
                
                </div>
                  <div class="swiper-slide">
                    <div class="card">
                        <a href="/detalle-producto"><img class="card-img-top" src="/img/products/ensalada3.webp" alt=""></a>
                        <div class="card-body">
                            
                            <p class="card-title">Ensalada tanto...</p>
                            
                        </div>
                    </div>
                    
                
                </div>
                  <div class="swiper-slide">
                    <div class="card">
                        <a href="/detalle-producto"><img class="card-img-top" src="/img/products/ensalada4.webp" alt=""></a>
                        <div class="card-body">
                            
                            <p class="card-title">Ensalada tanto...</p>
                            
                        </div>
                    </div>
                    
                
                </div>
                  <div class="swiper-slide">
                    <div class="card">
                        <a href="/detalle-producto"><img class="card-img-top" src="/img/products/ensalada5.webp" alt=""></a>
                        <div class="card-body">
                            
                            <p class="card-title">Ensalada tanto...</p>
                            
                        </div>
                    </div>
                    
                
                </div>
                  <div class="swiper-slide">
                    <div class="card">
                        <a href="/detalle-producto"><img class="card-img-top" src="/img/products/ensalada6.webp" alt=""></a>
                        <div class="card-body">
                            
                            <p class="card-title">Ensalada tanto...</p>
                            
                        </div>
                    </div>
                    
                
                </div>
                </div>
                <div class="swiper-pagination"></div>
              </div>
        </section>

    </main>
    <footer class="home__footer">
        <nav class="home__footer__nav--menu">
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/quienes">quienes</a></li>
                <li><a href="/servicios">servicios</a></li>
                <li><a href="/porfolio">porfolio</a></li>
                <li><a href="/sucursales">sucursales</a></li>
                <li><a href="/contacto">contacto</a></li>
            </ul>
        </nav>
    </footer>

    <!-- js boostrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <!-- js swiper -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <!-- js custom -->
    <!-- <script src="/js/carousel_w3school.js"></script> -->
    <script src="/js/carousel_swiper.js"></script>
    <script src="/js/carousel_swiper2.js"></script>

</body>

</html>