/* HEADER */
.home__header--box-logo {
    margin: 15px auto 30px;
    width: 180px;
}

.home__header--logo {
    width: 100%;
    border-radius: 50%;
    border: solid 1px grey;
}


/* MAIN */



/* FOOTER */