<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>


<body class="productAdd">
    <%- include('partials/header') %>

    <main class="container">
        <div class="row">
            <div class="col-12 col-md-10 mx-auto mt-5">
                <div class="card shadow">
                    <div class="card-header">
                        <a class="btn btn-outline-dark" href="/products/add">Nuevo producto</a>
                    </div>
                   <div class="card-body">
                    Tabla de productos
                   </div>
                   
                </div>
            </div>
        </div>
    </main>
    <%- include('partials/footer') %>
    <%- include('partials/scripts') %>

</body>

</html>