<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>


<body class="detalle">
    <%- include('partials/header') %>

    <main class="detalle__main">
        <div class="row">
            <div class="col-12 col-md-10 col-lg-8 mx-auto mt-5">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-12 col-md-5">
                            <div class="d-flex flex-column gap-1">
                                <img id="main-image" src="/img/img-pdto-1.jpg" class="img-fluid rounded-top animate__animated animate__fadeInDown" alt="...">
                                <div class="d-flex justify-content-between">
                                    <img src="img/img-pdto-1.jpg" width="32%" alt="" class="animate__animated animate__fadeInUp animate__delay-1s"
                                        onclick="document.getElementById('main-image').setAttribute('src','/img/img-pdto-1.jpg')">
                                    <img src="img/img-pdto-2.jpg" width="32%" alt="" class="animate__animated animate__fadeInUp animate__delay-2s"
                                        onclick="document.getElementById('main-image').setAttribute('src','/img/img-pdto-2.jpg')">
                                    <img src="img/img-pdto-3.jpg" width="32%" alt="" class="animate__animated animate__fadeInUp animate__delay-3s"
                                        onclick="document.getElementById('main-image').setAttribute('src','/img/img-pdto-3.jpg')">
                                </div>
                            </div>

                        </div>
                        <div class="col-12 col-md-7">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('partials/footer') %>
    <%- include('partials/scripts') %>

</body>

</html>